.dim {
    color: var(--color--dim);
}

.faint {
    color: var(--color--faint);
}

.highlight {
    animation: yellowfade 5s;
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
}

.clickable:hover {
    text-decoration: none;
}

@keyframes yellowfade {
    from {
        background: var(--highlight);
        box-shadow: 0 0 0 3px var(--highlight);
    }
    to {
        background: transparent;
        box-shadow: none;
    }
}

.large {
    font-size: var(--font-size--large);
}

.warning {
    color: red;
}

.form--disabled {
    opacity: .5;
}

.inline-loading {
    display: flex;
    justify-content: center;
    align-content: center;
}

.file {
    padding-left: 20px;
    min-height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='16px' viewBox='0 0 6 8'%3E%3Cpath fill='%234A4A4A' d='M3.75,0 L6,2.25 L6,6.75 C6,7.1625 5.6625,7.5 5.25,7.5 L0.75,7.5 C0.3375,7.5 0,7.1625 0,6.75 L0,0.75 C0,0.3375 0.3375,0 0.75,0 L3.75,0 Z M5.25,6.75 L5.25,2.625 L3.375,2.625 L3.375,0.75 L0.75,0.75 L0.75,6.75 L5.25,6.75 Z M3,6.375 L1.5,4.875 L2.4375,4.875 L2.4375,3.75 L3.5625,3.75 L3.5625,4.875 L4.5,4.875 L3,6.375 Z'%3E%3C/path%3E%3C/svg%3E");
    background-position: center left;
    background-repeat: no-repeat;
}
