:root {
    --header-background-color: #333;
    --summary-background-color: #fff;
    --progress-bar-background-color: #f1f1f1;
    --primary-color: #2a3c4f;
    --accent-color: #333;
    --step-icon: #c7c7c7;
    --step-icon--active: #606060;
    --input-border-radius: 2px;
    --nav-height--large: 60px;
    --nav-height--small: 45px;
    --highlight--bg: #FFEC84;
    --overlay-bg: rgba(0,0,0,.5);
}
