.group--merged > label:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.group--merged > label:last-child {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.group {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
}

.group--merged {
    flex-wrap: nowrap;
    align-items: stretch;
    white-space: nowrap;
    border-radius: 5px;
}

.group--merged > * {
    border: 2px solid var(--accent-color);
}
