.summary {
    position: sticky;
    z-index: 2;

    background-color: var(--summary-background-color);
    padding: 15px 10px;
    align-self: stretch;
}

.summary > li {
    border-bottom: solid 1px #c8c8c8;
}

.summary__block {
    padding: 5px 0;
    border-bottom: dotted gray 1px;
}
