:root {
    --primary-color: #2A3C4F;
    --accent-color: #647A8F;
    --summary-background: #D3E0ED;
    --input-border-radius: 2px;

    --nav-height--large: 35px;
    --nav-height--small: 25px;
}

* {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    margin: 0;
}

label {
    display: block;
}

input, select {
    border: 2px solid var(--accent-color);
    border-radius: var(--input-border-radius);
    width: 30ch;
    padding: 1px 2px;
}

input:focus {
    border-color: #31AADE;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0
}

#header {
    background-color: #1C2936;
    color: white;
    padding: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#summary {
    background-color: var(--summary-background);

    padding: 15px 10px;
    align-self: stretch;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 65px;
    height: 90%;
}

@media all and (max-width: 650px) {
    .container {
        margin-top: 40px;
        flex-direction: column;
        justify-content: flex-start;
    }
    /* We tell both sidebars to share a row */
    .summary {
        order: 1;
        position: -webkit-sticky;
        position: sticky;
        top: 25px;
    }

    .main {
        order: 2;
        justify-content: stretch;
        margin-top: 10px;
    }

    #header {
        height: var(--nav-height--small);
    }
}


  /* Large screens */
@media all and (min-width: 650px) {
    /* We invert order of first sidebar and main
    * And tell the main element to take twice as much width as the other two sidebars
    */
    .main {
        flex: 2 auto;
        order: 1;
        max-width: 60vw;
        margin-top: 20px;
    }

    .summary {
        flex: 1 auto;
        order: 2;
        padding: 20px;
    }

    .section {
        width: 40vw;
        min-width: 400px;
    }

    #header {
        height: var(--nav-height--large);
    }
}

.main {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
}

.section__header {
    padding: 10px;
    background-color: #445A70;
    color: white;
}

.section__header::after {
    content: "-"
}

.section__actions {
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
}

.dimmed {
    color: #919191;
}

.field {
    margin: 5px;
    padding: 5px 5px 15px 5px;
}

.field-set {
    border-bottom: solid 1px #D3E0ED;
}

.field__name {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    display: block;
    padding-bottom: 5px;
}

.field__inputs > input[type="radio"] {
    display: none;
}

.field__inputs > input[type="radio"]:checked + label {
    color: #ffffff;
    background: var(--accent-color);
}

.group {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
}

.group--merged {
    flex-wrap: nowrap;
    align-items: stretch;
    white-space: nowrap;
    border-radius: 5px;
}

.button {
    border-radius: 3px;
    padding: 2px 5px;
    min-width: 8ch;
    vertical-align:middle;
    text-align:center;
}

.button:hover {
    cursor: pointer;
}

.button--primary {
    color: #ffffff;
    background: var(--primary-color);
    border: 0px;
}

.group--merged > label:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.group--merged > label:last-child {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.group--merged > * {
    border: 2px solid var(--accent-color);
}

.summary > li {
    border-bottom: solid 1px #c8c8c8;
}

.summary__block {
    padding: 5px 0;
    border-bottom: dotted gray 1px;
}

.warning {
    color: red;
}