:root {
    --primary-color: #2A3C4F;
    --accent-color: #647A8F;
    --input-border-radius: 2px;
}

* {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    margin: 0;
}


header {
    background-color: #1C2936;
    color: white;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

label {
    display: block;
}

input, select {
    border: 2px solid var(--accent-color);
    border-radius: var(--input-border-radius);
    width: 30ch;
    padding: 1px 2px;
}

input:focus {
    border-color: #31AADE;
}

.summary {
    background-color: #D3E0ED;
    padding: 15px 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 39px;
}

.section {
    margin-top: 10px;
}

.section__header {
    padding: 10px;
    background-color: #445A70;
    color: white;
}

.section__header::after {
    content: "-"
}

.dimmed {
    color: #919191;
}

.field {
    margin: 5px;
    padding: 5px 5px 15px 5px;
    border-bottom: solid 1px #D3E0ED;
}

.field__name {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    display: block;
    padding-bottom: 5px;
}

.field__inputs>input[type="radio"] {
    display: none;
}

.field__inputs>input[type="radio"]:checked + label {
    color: #ffffff;
    background: var(--accent-color);
}

.group {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
}

.group--merged {
    flex-wrap: nowrap;
    align-items: stretch;
    white-space: nowrap;
    border-radius: 5px;
}

.button {
    border-radius: 3px;
    padding: 2px 5px;
    border-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    min-width: 8ch;
    vertical-align:middle;
    text-align:center;
}

.button:hover {
    cursor: pointer;
}

.button--primary {
    color: #ffffff;
    background: var(--primary-color);
}

.button--right {

}

.group--merged > label:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.group--merged > label:last-child {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
