.dim {
    color: var(--color--dim);
}

.faint {
    color: var(--color--faint);
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
    color: currentColor;
}

.clickable:hover {
    text-decoration: none;
}

.small {
    font-size: var(--font-size--small);
}

.large {
    font-size: var(--font-size--large);
}

.form--disabled {
    opacity: .5;
    pointer-events: none;
}

.form__section {
    border-top: var(--hr--width--large) solid var(--hr-color);
}

.form__section ul,
.form__section ol {
    list-style: initial;
    margin-left: var(--gap);
    padding-left: var(--gap);
}

.form--disabled .form__section {
    display: none;
}
