body {
    color: var(--color);
    font-size: var(--font-size);
    font-family: var(--font-family);
}

label {
    display: block;
}

input,
select {
    font-family: var(--font-family);
    border: 2px solid var(--color--accent);
    border-radius: var(--input-border-radius);
    width: 30ch;
    padding: 1px 2px;
}

input:focus {
    border-color: var(--color--focus);
    outline: none;
}

a {
    color: var(--color--accent);
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: var(--font-size);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

p {
    font-size: var(--font-size);
    line-height: 1.5;
    margin: 1em 0;
}

h2 {
    font-size: 22px;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: .5em;
    padding: var(--gap--small) 0;
}

h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding: .5em 0;
}

h4 {
    font-size: var(--font-size);
    line-height: 1.5;
    font-weight: 600;
    padding: .5em 0;
}

button:disabled {
    opacity: .5;
}

hr {
    margin: 10px 0;
    border: 0;
    height: 2px;
    background: var(--color--hr);
}

table {
    font-size: var(--font-size);
    line-height: 1.4em;
    border-collapse: collapse;
}
