body {
    color: var(--color);
    font-size: var(--font-size);
    font-family: var(--font-family);
}

label {
    display: block;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea,
select {
    font-family: var(--font-family);
    font-size: var(--input-font-size);
    color: var(--color);
    background-color: white;
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    width: var(--input-width);
    max-width: 100%;
    height: var(--input-height);
    padding: var(--gap--small) var(--gap);
}

textarea {
    height: 100px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8"><polygon points="12.4 0 14 1.5 7 8 0 1.5 1.6 0 7 4.9"/></svg>');
    background-position: calc(100% - 10px) 50%;
    background-repeat: no-repeat;
    padding: 0 35px 0 var(--gap);
    text-overflow: ellipsis;
    white-space: nowrap;
}

input:placeholder,
textarea::placeholder,
select:placeholder {
    color: var(--color--placeholder);
}

input:hover,
textarea:hover,
select:hover {
    border-color: var(--input-border-color--hover);
}

input:focus,
textarea:focus,
select:focus {
    border-color: var(--input-border-color--focus);
    outline: none;
}

a {
    color: var(--color--accent);
}

ul,
ol {
    padding: 0;
    margin: 0;
}

li {
    font-size: var(--font-size);
    line-height: 1.6;
    margin: 0 0 .5em 2em;
    padding: 0;
}

p {
    font-size: var(--font-size);
    line-height: 1.5;
    margin: 1em 0;
}

h2 {
    font-size: 22px;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: .5em;
    padding: var(--gap--small) 0;
}

h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding: .5em 0;
}

h4 {
    font-size: var(--font-size);
    line-height: 1.5;
    font-weight: 600;
    padding: .5em 0;
}

button:disabled {
    opacity: .5;
}

hr {
    margin: 10px 0;
    border: 0;
    height: 2px;
    background: var(--color--hr);
}

table {
    font-size: var(--font-size);
    line-height: 1.4em;
    border-collapse: collapse;
}
