.button {
    height: var(--button-height);
    min-width: var(--button-width);
    padding: var(--button-padding);
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    font-size: var(--button-font-size);
    line-height: 1;
    font-weight: bold;
    background: white;
    color: var(--color);
    border: var(--button-border-width) solid var(--input-border-color);
}

.button:hover {
    cursor: pointer;
}

.button--primary {
    height: var(--button-height--large);
    width: var(--button-width--large);
    border-radius: 3.6px;
    font-size: var(--button-font-size--large);
    background: var(--color--primary);
    color: white;
    border: 0;
}
