.field {
    margin: 1em 0;
    border-bottom: 1px solid var(--color--hr);
    padding-bottom: 1em;
}

.field-set {
    border-bottom: solid 1px var(--color--hr);
}

.field__name {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    display: block;
    padding-bottom: 5px;
}

.field__inputs > input[type="radio"] {
    display: none;
}

.field__inputs > input[type="radio"]:checked + label {
    color: #fff;
    background: var(--color--accent);
}

.field__inputs > input[type="radio"]:disabled + label {
    opacity: .5;
    cursor: not-allowed;
}
