/*TODO convert to button group*/
.group {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
}

.group > * {
    margin: 0;
}

.group--merged {
    margin-left: var(--button-border-width);
    flex-wrap: nowrap;
    align-items: stretch;
    white-space: nowrap;
    border-radius: var(--border-radius);
}

.group--merged > * + * {
    margin-left: calc(-1 * var(--button-border-width));
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.group--merged > .button + .button {
    margin-left: 0;
}

.group--merged > *:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

