.header {
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    justify-content: start;
    height: var(--header-height--desktop);
    padding: 0;
    align-items: center;
}

@media all and (max-width: 650px) {
    .header {
        height: var(--header-height--mobile);
        padding: 0 var(--gap);
    }
}
