.sticky-top {
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
}

.sticky-top__overlay {
    z-index: 1;
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    background: var(--overlay);
}

.header-wrapper {
    background-color: var(--header-background-color);
    color: white;
    width: 100%;
}

.flash-error-wrapper {
    background-color: var(--error-background-color);
    color: var(--error-color);
}

.progress-bar-wrapper {
    background-color: var(--progress-bar-background-color);
}

.inline-loading {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    grid-gap: var(--gap);
    justify-content: start;
    align-items: center;
    padding: var(--gap) 0;
    font-weight: bold;
}

@media all and (max-width: 650px) {
    .summary-wrapper--mobile {
        border-bottom: 2px solid #ccc;
    }

    .header-wrapper {
        height: var(--header-height--mobile);
    }

    .header,
    .footer {
        padding: var(--gap);
    }

    .main-wrapper {
        padding: var(--gap);
    }

    .inline-loading {
        padding: var(--gap);
    }
}

/* Large screens */
@media all and (min-width: 650px) {
    .header-wrapper {
        height: var(--header-height--desktop);
    }

    .progress-bar-wrapper {
        margin: 0;
    }

    .container {
        padding-left: 15vw;
        padding-right: 1vw;
        margin: 0 auto;
        display: grid;
        grid-gap: 4vw;
        grid-auto-flow: column;
        grid-auto-columns: auto;
    }

    .main-wrapper {
        min-width: 43vw;
        margin-top: 20px;
        padding: var(--gap) 0;
    }

    .summary-wrapper--desktop {
        width: 37vw;
        padding: var(--gap) 0;
        margin-top: 20px;
    }

    .header,
    .footer {
        padding: var(--gap) 0;
    }
}
