.modal-wrapper {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.modal-wrapper__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: .5;
}

.modal {
    position: relative;
    background: white;
    z-index: 2;
    box-shadow: 0 0 6px rgba(0, 0, 0, .21);
    min-width: 40vw;
    max-width: 60ch;
    max-height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: .5em;
}

.modal__header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 2em 40px 1em 2.25em;
    background: white;
}

.modal__body {
    overflow: auto;
    padding: 1em 2.25em 2em;
}

.modal__body p:first-of-type {
    margin-top: 0;
}

.modal__close {
    display: inline-block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26px' height='26px' viewBox='0 0 13 13'%3E%3Cpath d='M7.30668939,6.5 L9.11767803,8.31034848 C9.36781177,8.56048222 9.36781177,8.96602914 9.11767803,9.21616288 C8.86754429,9.46629662 8.46199737,9.46629662 8.21186364,9.21616288 L6.40151515,7.40517424 L4.59116667,9.21616288 C4.42935851,9.37797104 4.19351798,9.44116431 3.97248393,9.38193842 C3.75144988,9.32271252 3.57880263,9.15006527 3.51957673,8.92903122 C3.46035084,8.70799717 3.52354412,8.47215664 3.68535227,8.31034848 L5.49634091,6.5 L3.68535227,4.68965152 C3.52354412,4.52784336 3.46035084,4.29200283 3.51957673,4.07096878 C3.57880263,3.84993473 3.75144988,3.67728748 3.97248393,3.61806158 C4.19351798,3.55883569 4.42935851,3.62202896 4.59116667,3.78383712 L6.40151515,5.59482576 L8.21186364,3.78383712 C8.46199737,3.53370338 8.86754429,3.53370338 9.11767803,3.78383712 C9.36781177,4.03397086 9.36781177,4.43951778 9.11767803,4.68965152 L7.30668939,6.5 Z M6.40151515,12.9015152 C2.86595833,12.9015152 0,10.0355568 0,6.5 C0,2.96444318 2.86595833,0.0984848485 6.40151515,0.0984848485 C9.93707197,0.0984848485 12.8030303,2.96444318 12.8030303,6.5 C12.8030303,10.0355568 9.93707197,12.9015152 6.40151515,12.9015152 Z M6.40151515,11.6212121 C9.22988251,11.6212121 11.5227273,9.32836736 11.5227273,6.5 C11.5227273,3.67163264 9.22988251,1.37878788 6.40151515,1.37878788 C3.5731478,1.37878788 1.28030303,3.67163264 1.28030303,6.5 C1.28030303,9.32836736 3.5731478,11.6212121 6.40151515,11.6212121 Z'%3E%3C/path%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    position: absolute;
    right: 1em;
    top: 1em;
}
