.progress-bar {
    --progress-step-icon-size: 33px;

    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 16px;
    padding: 25px 10px;
}

.progress-bar__step {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    background-color: var(--progress-step-icon);
    color: white;
    width: var(--progress-step-icon-size);
    height: var(--progress-step-icon-size);
    border-radius: 50%;
    font-size: var(--font-size--large);
}

.progress-bar__step--active {
    background-color: var(--progress-step-icon--active);
}

.progress-bar__current-step {
    font-weight: 600;
    font-size: var(--font-size);
    white-space: nowrap;
}

@media all and (max-width: 650px) {
    .progress-bar {
        justify-content: center;
        padding: 25px 10px;
    }
}

@media all and (min-width: 650px) {
    .progress-bar {
        padding: 25px 0;
    }
}
