.section__actions {
    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--gap--small);
    justify-content: end;
    margin: 30px 0 0;
    border-top: var(--input-border-width) solid var(--color--hr);
    padding: 15px 0;
}
