.summary {
    position: sticky;
    z-index: 2;
    background-color: var(--summary-background-color);
    padding: 15px 10px;
    align-self: stretch;
}

.summary > li {
    border-bottom: solid 1px #c8c8c8;
}

.summary__header {
    font-size: var(--font-size--large);
}

.summary__header--toggable {
    background-repeat: no-repeat;
    background-position: center right;
}

.summary__header--toggled-down {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14px' height='8px' viewBox='0 0 7 4'%3E%3Cpolygon fill='%23000000' transform='translate(3.5, 2) rotate(-270) translate(-3.5, -2)'%0Apoints='5.5 4.6775 3.02766532 2 5.5 -0.6775 4.7388664 -1.5 1.5 2 4.7388664 5.5'%3E%3C/polygon%3E%3C/svg%3E%0A");
}

.summary__header--toggled-up {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14px' height='8px' viewBox='0 0 7 4'%3E%3Cpolygon fill='%23000000' transform='translate(3.5, 2) rotate(-90) translate(-3.5, -2)'%0Apoints='5.5 4.6775 3.02766532 2 5.5 -0.6775 4.7388664 -1.5 1.5 2 4.7388664 5.5'%3E%3C/polygon%3E%3C/svg%3E%0A");
}

.summary__preview {
    line-height: 1.5em;
    margin-right: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.summary__preview-price {
    margin-right: 10px;
    display: inline-block;
}

.summary__block {
    padding: 1.5em 0 .5em;
    line-height: 1.6;
}

.summary__block-title {
    font-weight: bold;
    font-size: var(--font-size);
}

.summary__block--price {
    border-top: dashed 1px var(--color--dim);
    padding: .5em 0;
}

.summary__block--docs {
    border-top: 1px solid var(--color--hr);
    margin-top: 20px;
    padding-top: 10px;
}

.summary__body {
    overflow: auto;
}

@media all and (min-width: 650px) {
    .summary {
        top: var(--header-height--large);
    }
}
