.summary {
    background-color: var(--summary-background-color);
    align-self: stretch;
    display: grid;
}

.summary__header {
    font-size: var(--font-size--large);
    padding: var(--gap);
    line-height: 1.5;
}

.summary__header--toggable {
    background-repeat: no-repeat;
    background-position: calc(100vw - 25px) 50%;
}

.summary__header--toggled-down {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14px' height='8px' viewBox='0 0 7 4'%3E%3Cpolygon fill='%23000000' transform='translate(3.5, 2) rotate(-270) translate(-3.5, -2)'%0Apoints='5.5 4.6775 3.02766532 2 5.5 -0.6775 4.7388664 -1.5 1.5 2 4.7388664 5.5'%3E%3C/polygon%3E%3C/svg%3E%0A");
}

.summary__header--toggled-up {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14px' height='8px' viewBox='0 0 7 4'%3E%3Cpolygon fill='%23000000' transform='translate(3.5, 2) rotate(-90) translate(-3.5, -2)'%0Apoints='5.5 4.6775 3.02766532 2 5.5 -0.6775 4.7388664 -1.5 1.5 2 4.7388664 5.5'%3E%3C/polygon%3E%3C/svg%3E%0A");
}

.summary__preview {
    line-height: 1.5em;
    margin-right: 30px;
    display: inline-grid;
    grid-gap: var(--gap);
    grid-template-columns: auto 1fr;
    align-items: baseline;
}

.summary__preview-info {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.summary__preview-price {
    display: inline-block;
}

.summary__block {
    padding: 0 0 1em;
    line-height: 1.6;
}

.summary__block-title {
    font-weight: bold;
    font-size: var(--font-size);
    border-bottom: 1px solid var(--hr-color);
    padding: var(--gap--small) 0;
    line-height: 1.4;
}

.summary__price {
    border-top: dashed 1px var(--color--dim);
    padding: .5em 0;
    margin: .5em 0;
}

.summary__block--bordered {
    border-top: 1px solid var(--hr-color);
}

.summary__body {
    overflow: auto;
    padding: var(--gap);
}

.summary__file-icon {
    padding-left: 20px;
    min-height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='16px' viewBox='0 0 6 8'%3E%3Cpath fill='%234A4A4A' d='M3.75,0 L6,2.25 L6,6.75 C6,7.1625 5.6625,7.5 5.25,7.5 L0.75,7.5 C0.3375,7.5 0,7.1625 0,6.75 L0,0.75 C0,0.3375 0.3375,0 0.75,0 L3.75,0 Z M5.25,6.75 L5.25,2.625 L3.375,2.625 L3.375,0.75 L0.75,0.75 L0.75,6.75 L5.25,6.75 Z M3,6.375 L1.5,4.875 L2.4375,4.875 L2.4375,3.75 L3.5625,3.75 L3.5625,4.875 L4.5,4.875 L3,6.375 Z'%3E%3C/path%3E%3C/svg%3E");
    background-position: center left;
    background-repeat: no-repeat;
}

.summary__popup-icon {
    min-height: 12px;
    padding-right: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12px' height='12px' viewBox='0 0 6 6'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M4.9,-5.68434189e-14 L2.09265,-5.68434189e-14 C1.708,-5.68434189e-14 1.4,0.308 1.4,0.693 L1.4,3.5 C1.4,3.885 1.715,4.2 2.1,4.2 L4.9,4.2 C5.285,4.2 5.6,3.885 5.6,3.5 L5.6,0.7 C5.6,0.315 5.285,-5.68434189e-14 4.9,-5.68434189e-14 Z M4.9,3.5 L2.1,3.5 L2.1,0.7 L4.9,0.7 L4.9,3.5 Z M0.7,2.8 L0,2.8 L0,4.9 C0,5.285 0.315,5.6 0.7,5.6 L2.8,5.6 L2.8,4.9 L0.7,4.9 L0.7,2.8 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

.summary__highlight {
    animation: yellowfade 5s;
}

.summary .table {
    border-top: 0;
}

.summary .table th {
    width: 50%;
    min-width: 150px;
}

.summary .table th,
.summary .table td {
    border: 0;
    text-align: left;
    padding-top: var(--gap--small);
    padding-bottom: var(--gap--small);
}

.summary .table tr:first-child th,
.summary .table tr:first-child td {
    padding-top: calc(.75 * var(--gap));
}

.summary hr {
    height: 1px;
    margin-bottom: 0;
}

@keyframes yellowfade {
    from {
        background: var(--summary-highlight);
        box-shadow: 0 0 1px 5px var(--summary-highlight);
    }
    to {
        background: transparent;
        box-shadow: none;
    }
}

@media all and (max-width: 650px) {
    .summary {
        padding: var(--gap--small) 0;
    }
}

@media all and (min-width: 650px) {
    .summary__header {
        /*padding: 1em var(--gap);*/
    }
}
